@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@layer base {
  html {
    @apply transition-colors duration-300;
  }
  body {
    @apply bg-white dark:bg-gray-600 text-gray-900 dark:text-gray-100;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  padding: 2rem 1rem;
}

button {
  cursor: pointer;
}
